body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}
#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    z-index: +400;
    background:linear-gradient(to top,#fc2c03,#fc0303);
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
      filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(20deg);
      }
}
#progressbar::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#fc2c03,#fc0303);
    filter: blur(10px);

}
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#fc2c03,#fc0303);
    filter: blur(30px);

}
/* Header */
#navbar_flex{
    position: absolute;
    padding-top: 20px;
    width: 100%;
    z-index: +400;
    display: flex;
    justify-content:center;
}
.navbar_links{
    color: rgb(191, 188, 188);
    font-family: 'Readex Pro', sans-serif;
    margin-left: 65px;
    font-size: 15px;
    text-decoration: none;
}
.navbar_links:hover{
    transition: .7s;
    color: white;
}

/* Home */
#imagen_home{
    background-image:url('../imagenes/Technique-for-Faster-Web-Development.jpg');
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
}
#imagenHome_opacity{
position: absolute;
z-index: 100;
background-color: rgb(7, 7, 7);
opacity: 85%;
width: 100%;
height: 100%;
}
#home_presentacion{
    color: white;
   position: absolute;
   z-index: +400;
   left: 26%;
   top: 30%;
}
#home_hi{
    font-size: 35px;
    padding-left: 270px;
    font-family: 'Ubuntu', sans-serif;
}
#home_h1{
    font-size: 70px;
    padding-left: 270px;
    font-family: 'Ubuntu', sans-serif;
}
#home_p{
    font-size: 35px;
    padding-left: 270px;
color: white;
    font-family: 'Ubuntu', sans-serif;
}
#container_foto{
    position: absolute;
    top: 50px;
}
#home_foto{
width: 250px;
    border-radius: 50%;
}
#tipeado{
    font-size: 45px;
    color: rgb(240, 5, 5);
}
/* Seccion ABOUT ME */
#aboutme_content{
    z-index: +300;
    height: 50vh;
    background-color: rgb(238, 237, 237);
}

#aboutme_h2{
    position: absolute;
    left: 47%;
    font-size: 30px;
    width:250px;
}
#aboutme_fotoydescripcion{
    width: 100%;
    padding-top: 100px;
    display: inline-block;
}

#aboutme_foto{
    position: relative;
    width: 300px;
    left: 15%;
    border-radius: 50%;
}
#aboutme_descripcion{
    position: absolute;
    left: 45%;
    z-index: +300;
    font-family: 'Montserrat', sans-serif;
    width: 650px;
    font-weight: 200;
    font-size: 32px;
}

/* Conocimientos */
#conocimientos_content{
    height: 25vh;
    width: 100%;
}
#conocimientos_h3{
    font-size: 30px;
    position: absolute;
    left: 44%;
    color: black;
    z-index: +201;
}
#conocimientos_containerflex{
  margin-top: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.conocimientos_cards{
    top: 100px;
    margin-left: 50px;
    border-radius: 3%;
background-color: white;
z-index: +300;
text-align: center;
width: 150px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
height: 180px;
}
.conocimientos_cards:hover{
    transition: .2S;
    background-color: rgb(172, 18, 18);
    transform: translateY(-8%);

}
#lineas{
    background-image: url('../imagenes/lineas.png');
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 822px;
}

.cards_content{
    padding-top: 25px;
}
.conocimientos_cards .iconsreact{
    color: #61DBFB;
    size: 15px;
    font-size: 80px;
}

.card_name{
    width: 100px;
    font-size: 20px;
    padding-left: 25px; 
    color: black;
}



.conocimientos_cards .iconsjs{
    color: #F0DB4F;
    size: 15px;
    font-size: 80px;
}


.conocimientos_cards .iconshtml{
    color: #F06529;
    size: 15px;
    font-size: 80px;
}



.conocimientos_cards .iconscss{
    color: #264de4;
    size: 15px;
    font-size: 80px;
}


.conocimientos_cards .iconsgit{
    color: #F1502F;
    size: 15px;
    font-size: 80px;
}

.conocimientos_cards .iconsass{
    color: #CD6799;
    size: 15px;
    font-size: 80px;
}


#card_firebaselogo{
    width: 55px;
}

.conocimientos_cards .iconsbootstrap{
    color: #553C7B;
    size: 15px;
    font-size: 80px;
}
#card_jquerylogo{
    width: 75px;
}
/* #conocimientos_opacity{
position: absolute;
z-index: 100;
background-color: rgb(27, 27, 27);
opacity: 85%;
width: 100%;
height: 35.3%;
} */


/* SECCION PROYECTOS*/

#proyectos_content{
    height: 100vh;
    background-attachment: fixed;
    background-image: url('../imagenes/../imagenes/proyectos.jpeg');
}
#proyectos_opacity{
    position: absolute;
    z-index: 100;
    background-color: rgb(79, 19, 19);
    opacity: 85%;
    width: 100%;
    height: 100vh;
    }